body {
        background: rgb(186, 130, 130);
        justify-content: center;
      }
      h1 {
        padding-top: 30px;
        margin-bottom: 30px;
        color: rgb(101, 20, 20);
        box-shadow: 0px 1px 15px rgb(161, 96, 96);
      }
      span div {
        text-align: left;
        font-size: 120%;
      }
      h2 {
        margin-top: 15px;
      }
      h4 {
        margin-bottom: 0px;
        font-size: 80%;
      }
      h5 {
        text-decoration: underline;
        margin: 19px 0px;
        text-align: center;
        font-size: larger;
      }
      button {
        background: rgb(210, 110, 130);
        color: white;
        border: 2px solid rgb(125, 43, 43);
        transition: all 150ms ease-in-out;
        border-radius: 40px;
        padding: 10px 15px;
        margin-bottom: 30px;
      }
      button:hover {
        box-shadow: 0px 3px 8px rgb(58, 54, 54);
        cursor: pointer;
      }
      button:active {
        box-shadow: none;
      }
      .watch {
        margin-top: 15px;
        background: rgb(108, 17, 35);
        color: white;
        border: 2px solid rgb(28, 9, 9);
        transition: all 150ms ease-in-out;
        border-radius: 40px;
        padding: 10px 15px;
        margin-bottom: 0px;
      }
      .watch:hover {
        background: rgb(162, 30, 57);
      }
      span {
        display: flex;
        flex-wrap: wrap;
      }
      footer {
        max-width: 96%;

        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
        padding: 0px;
        justify-content: space-between;
      }
      #creator {
        font-size: 14px;
        font-weight: bold;
        color: rgb(87, 81, 81);
        text-align: left;
        display: inline;
      }
      .contact {
        width: 30px;
        height: 30px;
      }
      #logos {
        display: inline;
      }
      #linkedin {
        margin-right: 7px;
      }
      #body {
        margin: 0 auto;
        text-align: center;
        max-width: 60%;
        background: rgb(239, 230, 230);
        border-radius: 20px;
        box-shadow: 0px 0px 30px 7px rgb(59, 55, 55);
      }
      #aotposter {
        border-radius: 20px;
        box-shadow: 0 2px 15px black;
        max-width: 95%;
      }
      #warn {
        font-size: 15px;
        margin-bottom: 3px;
      }

      #nine {
        max-width: 99%;
        margin: 0 auto;
        justify-content: space-around;
      }

      .titan-box {
        min-width: 45%;
        max-width: 49%;
        max-height: 350px;
        min-height: 300px;
        border: 1px solid rgb(216, 147, 147);
        border-radius: 20px;
        margin: 25px 0px;
        margin-right: 0px;
        background: rgb(242, 239, 239);
        box-shadow: 0px 2px 13px black;
        transition: all 150ms ease-in-out;
      }
      .titan-box:hover {
        box-shadow: 0px 0.5px 5px black;
      }
      ul {
        margin-top: 2px;
        margin-left: 0px;
        position: absolute;
        width: 9%;
        max-width: 84%;
        line-height: 1.4;
      }
      li {
        max-width: 97%;
        overflow-wrap: break-word;
      }
      .titan-box h6 {
        margin-bottom: 5px;
        font-size: 18px;
      }
      .titan-box span {
        width: 100%;
      }
      #nine p,
      li {
        font-size: 17px;
      }

      .titan-img {
        max-width: 50%;
        width: 260px;
        height: 180px;
        justify-content: left;
        margin: 15px;
        border: 2px solid rgb(82, 75, 75);
        border-radius: 10px;
      }
      #intro {
        max-width: 75%;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        line-height: 1.4;
        padding-top: 5px;
      }

      #series {
        border: 3px solid rgb(240, 215, 215);
        border-radius: 20px;
        width: 83%;
        max-width: 1200px;
        display: block;
        margin: 0 auto;
        padding: 10px;
        padding-top: 40px;
        background: rgb(205, 192, 192);
      }
      #fav {
        font-size: 17px;
        color: rgb(105, 75, 75);
      }